@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar {
    font-family:'Montserrat', sans-serif;
}

.content {
    padding: 50px 350px;
    margin-bottom: 100px;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    color: rgb(85, 85, 85);
    border: none;
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
}

/* Medium devices (ipads) #2 */
@media screen and (min-width:767px) and (max-width:1100px) {
    .content {
        padding: 30px 120px;
        line-height: 1.8rem;
    }
}
/* Smallest screens (phones) */
@media screen and (max-width:766px) {
    .content {
        padding: 30px 30px;
        line-height: 1.9rem;
    }
}

.post p {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.post {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(85, 85, 85);
}  